.header{
    background-color: aquamarine;
    text-align: center;
    display: inline-flex;
    width: 100vw;
    justify-content: space-between;
    h1{
        margin-left: 40vw;
    }

    // height: 10vh;
}
nav {
    justify-content: flex-start;
}

    li{
        padding: .7rem;
        .method{
            border-radius: 7px;
            color: darkmagenta;
            display: inline;
            padding: .25rem 1rem;
        }
    }

//     &get{
//         background: lightpink;
//     }
//     &post{
//         background: lightpink;
//     }
//     &put{
//         background: lightpink;
//     }
//     &delete{
//         background: lightpink;
//     }
// }