.Content{
    background-color: cadetblue;
    

}
text-area{
    width: 80vw;
    height: 20vh;
}

.loading {
    // green sock ease library
    img{
        display: flex;
    
        margin: auto;
        top: 20%;
        // transition: 10s;
        // transform: rotate(359deg);
        animation: rotation 3s ease-out infinite;
        // transform: rotateX(360deg);
        width: 200px;
        height: auto;
    }

// animation: 3s linear 1s infinite alternate slidein;
@keyframes rotation{
    from {
        transform: rotate(0deg)
    }
    to{
        transform: rotate(10799deg)
    }
   
}
}